@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 0;
}
/*CSS Index*/ 

/*Logo*/
.Header{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}
.Header a{
    display: flex;
    align-self: center;
}
.Logo{
    margin: 2% 0 0 0;
}

/*BarreDeRecherche*/
.BarreDeRecherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0 3% 0;
    background-color: #eaeaea;
    box-shadow: inset 0px 3px 6px -4px rgba(0,0,0,0.75);
}
#IconeBarreDeRecherche{
    margin : 0 3% 0 0;
    color: #353535;
}
.SaisiDeRecherche{
    all: unset;
    width: 33%;
}

/*CTA*/
#CTA{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}
#CTA h2{
    align-self: center;
    margin: 5% 15% 2% 15%;
    text-align: center;
    font-weight: 700;
}
#CTA p{
    align-self: center;
    text-align: center;
    margin: 0 15% 0 15%;
}
#CTA a {
    width: 55%;
    height: 50px;
    align-self: center;
    margin: 8% 0 8% 0 ;

}
.BoutonExploration{
    background: linear-gradient(176deg, rgba(235,115,218,1) 0%, rgba(219,110,218,1) 41%, rgba(174,95,219,1) 100%);
    border: none;
    border-radius: 25px;
    color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
}
/*Fonctionnement*/
/*Tutoriel*/
#Tutoriel h2{
    margin-left: 5%;
}
.EtapesTutoriel{
    display: flex;
    flex-direction: column;
}
.Etape{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
    background : white;
    margin-bottom: 7% ;
    width: 95%;
    border-radius: 25px;
    height: 75px;
}
.Etape h3{
    display: flex;
    justify-content: center;
    background-color: #9356dc;
    border-radius: 50px;
    height: 24px;
    width: 24px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    position: absolute;
    left: 7%;
}
.Etape i{
    margin: 0 8% 0 8%;
    color: #7e7e7e;
}
.Etape p{
    font-weight: bold;
}

/*Restaurants*/
#Resto{
    margin-bottom: 8%;
}
.TitreRestaurant{
    margin-left: 5%;
}
.BlocRestaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Box
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 0 16px #0000002e;
    width: 90%;
    height: 275px;
    margin: 0 0 25px 0;
}
.ImgBox
{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.Restaurants a {
    display: contents; 
}
.Nouveau{
    background-color: #99e2d0;
    color: #008766;
    width: 18%;
    padding: 1% 1% 1% 1%;
    position: absolute;
    text-align: center;
    left: 71%;
    margin-top: 4%;
}
.TexteBoxRestaurant{
    display: flex;
    flex-direction: column;
    width: 50% ;
}
.FigCaption a{
    text-decoration: none;
    color: black;
    flex: content;
    width: 100%;
}
.FigCaption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.TexteBoxRestaurant h3{
    margin: 5% 0 0 5%;  
}
.TexteBoxRestaurant p{
    margin: 3% 0 0 5%;
}
.Coeur{
    align-self: center;
    margin-right: 7%;
    font-size: 1.5em;
}
/************************************************************************Footer*******************************************************************************************/
footer{
    background-color:#353535 ;
    display: flex;
    flex-direction: column;
}
.LogoFooter{
    color: white;
    width: 25%;
    margin : 5% 0 0 8% ;
}
.ListeFooter{
    list-style-type: none;
    line-height: 1.7em;
    font-size: 0.9em;
    margin-bottom: 20px;
}
.ListeFooter a{
    text-decoration: none;
    color:#ffffff ;
}
footer i {
    max-width: 3%;
    font-size: 1em;
    margin-right: 4%;
}

/**************************************************************************Page Menus*************************************************************************************/
/****************************************************************************Header****************************************************************************************/
.Fleche {
    position: absolute;
    left: 5%;
    text-decoration: none;
    color: black;
}
Header h1 {
    margin: 7px 0 0 0;
}
/****************************************************************************Image****************************************************************************************/
.ImageRestaurant {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/****************************************************************************Menu*****************************************************************************************/
#MainMenus{
    background-color: #f6f6f6;
}
.NomRestaurant_Coeur{
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    justify-content: space-between;
    top: -40px;
    width: 100%;
}
.NomRestaurant_Coeur h1{
    margin: 5% 0 0 4%;
    font-family: 'Shrikhand', cursive;
    font-weight: 300;
}
.NomRestaurant_Coeur i {
    margin: 7% 8% 0 0;
    font-size: 1.5em; 
}
#Nouriture h2{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0 0 1% 5%;
}
.Soulignage{
    background-color: #99e2d0;
    padding: 1px ;
    width: 9%;
    margin-left: 5%;
}
.BoxNourriture{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin: 3% 3% 3% 3%;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
}
.NomNouriture{
    display: flex;
    flex-direction: column;
    width: 100%;
}
article header h3 {
    margin: 6% 0 2% 4%; 
    width: 100%;
}
article header p {
    margin: 0 0 6% 4%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 87%;
}
.Prix{
    align-self: flex-end;
    margin: 0 5% 3% 0;
    color: #353535;
    font-weight: 700;
}
.BoutonCommander{
    background: linear-gradient(176deg, rgba(235,115,218,1) 0%, rgba(219,110,218,1) 41%, rgba(174,95,219,1) 100%);
    border: none;
    border-radius: 25px;
    color: white;
    width: 45%;
    height: 45px;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
    margin: 8% 0 20% 0;
}
#MainMenus a{
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-decoration: none;
}
