@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 0;
}
/*CSS Index*/ 

/*Logo*/
.Header{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}
.Header a{
    display: flex;
    align-self: center;
}
.Logo{
    margin: 2% 0 0 0;
}

/*BarreDeRecherche*/
.BarreDeRecherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0 3% 0;
    background-color: #eaeaea;
    box-shadow: inset 0px 3px 6px -4px rgba(0,0,0,0.75);
}
#IconeBarreDeRecherche{
    margin : 0 3% 0 0;
    color: #353535;
}
.SaisiDeRecherche{
    all: unset;
    width: 33%;
}

/*CTA*/
#CTA{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}
#CTA h2{
    align-self: center;
    margin: 5% 15% 2% 15%;
    text-align: center;
}
#CTA p{
    align-self: center;
    text-align: center;
    margin: 0 15% 0 15%;
}
#CTA a {
    width: 55%;
    height: 50px;
    align-self: center;
    margin: 8% 0 8% 0 ;

}
.BoutonExploration{
    background: linear-gradient(176deg, rgba(235,115,218,1) 0%, rgba(219,110,218,1) 41%, rgba(174,95,219,1) 100%);
    border: none;
    border-radius: 25px;
    color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
}
/*Fonctionnement*/
/*Tutoriel*/
#Tutoriel h2{
    margin-left: 5%;
}
.EtapesTutoriel{
    display: flex;
    flex-direction: column;
}
.Etape{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
    background : white;
    margin-bottom: 7% ;
    width: 95%;
    border-radius: 25px;
    height: 75px;
}
.Etape h3{
    display: flex;
    justify-content: center;
    background-color: #9356dc;
    border-radius: 50px;
    height: 24px;
    width: 24px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    position: absolute;
    left: 7%;
}
.Etape i{
    margin: 0 8% 0 8%;
    color: #7e7e7e;
}
.Etape p{
    font-weight: bold;
}
